<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="connString" connectionString="Data Source=DESKTOP-F9CRVNO\SQLEXPRESS;Initial Catalog=RMSS;Integrated Security=True"
   providerName="system.Data.SqlClient" />
  <add name="RestaurantMS.Properties.Settings.RMSSConnectionString"
   connectionString="Data Source=DESKTOP-F9CRVNO\SQLEXPRESS;Initial Catalog=RMSS;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
</configuration>